<!DOCTYPE HTML>
<html lang="en">
<head>
	<title>CV - Boxed</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8">


	<!-- Font -->

	<link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700%7CAllura" rel="stylesheet">

	<!-- Stylesheets -->

	<link href="../static/common-css/bootstrap.css" rel="stylesheet">

	<link href="../static/common-css/ionicons.css" rel="stylesheet">

	<link href="../static/common-css/fluidbox.min.css" rel="stylesheet">

	<link href="../static/css/styles.css" rel="stylesheet">

	<link href="../static/css/responsive.css" rel="stylesheet">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css">

	<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">

</head>
<body>



	<section class="intro-section">
		<div class="container">
			<div class="row">
				<div class="col-md-1 col-lg-2"></div>
				<div class="col-md-10 col-lg-8">
					<div class="intro">
						<div class="profile-img"><img src="../static/images/profile001.png" alt=""></div>
						<h2><b>ZHANG CHONGJING</b></h2>
						<h4 class="font-yellow">COMM 5940</h4>
						<ul class="information margin-tb-30">
							<li><b>Problem Set #2 : </b>BS, Flask & Airtable API</li>

						</ul>
						<ul class="social-icons">
							<li><a href="#"><i class="ion-social-pinterest"></i></a></li>
							<li><a href="#"><i class="ion-social-linkedin"></i></a></li>
							<li><a href="#"><i class="ion-social-instagram"></i></a></li>
							<li><a href="#"><i class="ion-social-facebook"></i></a></li>
							<li><a href="#"><i class="ion-social-twitter"></i></a></li>
						</ul>
					</div><!-- intro -->
				</div><!-- col-sm-8 -->
			</div><!-- row -->
		</div><!-- container -->
	</section><!-- intro-section -->

	<section class="portfolio-section section">
		<div class="container">
			<div class="row">
				<div class="col-sm-4">
					<div class="heading">
						<h3><b>中国大学排名 </b></h3>
						<h6 class="font-lite-black"><b>来源 ：http://www.zuihaodaxue.com/zuihaodaxuepaiming2018.html</b></h6>
					</div>
				</div><!-- col-sm-4 -->
				<div class="col-sm-8">
					<div class="portfolioFilter clearfix margin-b-80">

							<table id="myTable" class="table table-striped" style="width:100%" >
                <thead>
                    <tr>
                        <th>序号</th>
                        <th>排名</th>
                        <th>大学</th>
                        <th>省份</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in  entries  %}
                      <tr>
                        <td>{{ row["Index"] }}</td>
                        <td>{{ row["rank"] }}</td>
                        <td>{{ row["university"] }}</td>
                        <td>{{ row["province"] }}</td>
                      </tr>
                    {% endfor %}
                </tbody>
            </table>
					</div><!-- portfolioFilter -->
				</div><!-- col-sm-8 -->
			</div><!-- row -->
		</div><!-- container -->

		<div class="portfolioContainer">



		</div><!-- portfolioContainer -->

	</section><!-- portfolio-section -->

<hr>
End of Problem set 3

	
	<footer>
		<p class="copyright">
			<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="ion-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
		</p>


	</footer>


	<!-- SCIPTS -->

	<script src="../static/common-js/jquery-3.2.1.min.js"></script>

	<script src="../static/common-js/tether.min.js"></script>

	<script src="../static/common-js/bootstrap.js"></script>

	<script src="../static/common-js/isotope.pkgd.min.js"></script>

	<script src="../static/common-js/jquery.waypoints.min.js"></script>

	<script src="../static/common-js/progressbar.min.js"></script>

	<script src="../static/common-js/jquery.fluidbox.min.js"></script>

	<script src="../static/common-js/scripts.js"></script>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

	<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js"></script>

	<script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
	<script>
	$(document).ready(function(){
	    var items = [];
        var i = 0;
        var airtable_read_endpoint = "https://api.airtable.com/v0/appu0J2kBjpHI0CnH/UnivRank?api_key=keyHwnj1ElCshCfmN&sortField=_createdTime&sortDirection=desc";
        var dataSet = [];
        $.getJSON(airtable_read_endpoint, function(result) {
               $.each(result.records, function(key,value) {
                   items = [];
                       items.push(value.fields.index);
                       items.push(value.fields.rank);
                       items.push(value.fields.university);
                       items.push(value.fields.province);
                       dataSet.push(items);
                       console.log(items);
                });
                console.log(dataSet);

             $('#myTable').DataTable( {
                 data: dataSet,
                 retrieve: true,
                 columns: [
                     { title: "序号",
                       defaultContent:""},
                     { title: "排名",
                         defaultContent:"" },
                     { title: "大学",
                       defaultContent:"" },
                     { title: "省份",
                       defaultContent:""},
                 ]
             });
        });
    });
    </script>
</body>
</html>
