<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>COMM5940 Problem Sets</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" <link href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.1.29/c3.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.3.4/leaflet.css">
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.4.11/d3.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.1.29/c3.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.3.4/leaflet.js"></script>
  <script src="https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/leaflet.markercluster.js"></script>

  <link rel="stylesheet" href="../static/fonts/icomoon/style.css">

  <link rel="stylesheet" href="../static/vendors/bootstrap/bootstrap.min.css">
  <link rel="stylesheet" href="../static/vendors/fontawesome/css/all.min.css">
  <link rel="stylesheet" href="../static/vendors/themify-icons/themify-icons.css">
  <link rel="stylesheet" href="../static/vendors/linericon/style.css">
  <link rel="stylesheet" href="../static/vendors/owl-carousel/owl.theme.default.min.css">
  <link rel="stylesheet" href="../static/vendors/owl-carousel/owl.carousel.min.css">

  <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
  <!--================Header Menu Area =================-->
  <header class="header_area">
    <div class="main_menu">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container box_1620">
          <!-- Brand and toggle get grouped for better mobile display -->
          <a class="navbar-brand logo_h" href="/">ZHANG CHONGJING</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
            <ul class="nav navbar-nav menu_nav justify-content-center">
              <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
              <li class="nav-item"><a class="nav-link" href="/table">Table</a></li>
              <li class="nav-item"><a class="nav-link" href="/chart">Chart</a>
              <li class="nav-item active"><a class="nav-link" href="/map">Map</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="/logout"><span class="icon-sign-out"></span>Logout</a></li>
              <hr>
              <li><a href="/login"><span class="icon-sign-in"></span> Login</a></li>
            </ul>
          </div>
        </div>
      </nav>
      <hr>
    </div>
  </header>
  <!--================Header Menu Area =================-->

  <main class="site-main">
    <section class="mb-30px">
      <div class="container">
        <div>
          <h1>Flask-C3 Map Display</h1>

          <p>旅行达人和ins博主的镜头下的香港之 公共屋邨</p>
          <p>Click to view the travel tips.</p>
        </div>
        <hr>
        <center>
          <button type="button" class="btn btn-warning" id='roll_up' onclick="show_location();">Show Location</button>
          <div id="map" style="width: 800px; height: 440px; border: 1px solid #AAA;"></div>
        </center>
      </div><!-- container -->
    </section>
  </main>

  <!--================ Start Footer Area =================-->
  <footer class="footer-area section-padding">
    <div class="container">
      <div class="footer-bottom d-flex justify-content-center align-items-center flex-wrap">
        <div class="single-footer-widget">
          <center>
            <h6>About</h6>
            <p>
              This website demonstrates the problems sets of COMM5940.
            </p>
          </center>
        </div>
      </div>
      <div class="footer-bottom d-flex justify-content-center align-items-center flex-wrap">
        <p class="footer-text m-0">
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          Copyright &copy;<script>
            document.write(new Date().getFullYear());
          </script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
        </p>
      </div>
    </div>
  </footer>
  <!--================ End Footer Area =================-->

  <script src="../static/vendors/jquery/jquery-3.2.1.min.js"></script>
  <script src="../static/vendors/bootstrap/bootstrap.bundle.min.js"></script>
  <script src="../static/vendors/owl-carousel/owl.carousel.min.js"></script>
  <script src="../static/js/jquery.ajaxchimp.min.js"></script>
  <script src="../static/js/mail-script.js"></script>
  <script src="../static/js/main.js"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

  <script>
    var mapboxTiles = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
      attribution: 'Map data &copy; <a href="https://openstreetmap.org">OpenStreetMap</a>',
      maxZoom: 18,
    })
    var map = L.map('map')
      .addLayer(mapboxTiles)
      .setView([22.305050, 114.171501], 12);

    layerGroup = L.layerGroup().addTo(map);

    var items = {};
    var data = []; { %
      for Name, Lat, Lng, url, Image_url in entries %
    }
    items = {};
    items["Name"] = "{{Name}}";
    items["Lat"] = "{{Lat}}";
    items["Lng"] = "{{Lng}}";
    items["url"] = "{{url}}";
    items["Image_url"] = "{{Image_url}}";
    data.push(items); { % endfor %
    }
  </script>

  <script>
    function show_location() {
      for (var i in data) {
        var latlng = L.latLng({
          lat: data[i].Lat,
          lng: data[i].Lng
        });
        L.marker(latlng)
          .bindPopup('<a href="' + data[i].url + '" target="_blank">' + '<img src="' + data[i].Image_url + '" width = "80px"><br>' + data[i].Name + '</a>')
          .addTo(map);
      }
    };
  </script>
</body>

</html>
